<style type="text/css">
	#loader{
		display: none;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<form action="{{ thankyouPage }}" name="register" method="POST" role="form" enctype="multipart/form-data">
				<legend>Form title</legend>
			
				<div class="form-group">
					<label for="">label</label>
					<input type="text" class="form-control" id="" placeholder="Input field">
				</div>
			
				
			
				<button type="submit" class="btn btn-primary pull-right">Submit</button>
			</form>
		</div>
	</div>
</div>