<style type="text/css">
	#loader{
		display: none;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<form action="{{ resultPage }}" name="job-search" method="POST" role="form">
				<input type="hidden" name="search-type" id="search-type" class="form-control" value="keyword-search">
				<div class="form-group">
					<input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter Keyword....">
				</div>

				<button type="submit" class="btn btn-primary btn-lg pull-right">Search</button>
			</form>

			<br/>	<br/>
			<label id="loader" class="pull-left"> <img src="{{assetsUrl}}" /> Please wait while loading...</label>

		</div>
	</div>
</div>